.post-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px; /* Fixed height */
}

.post-image {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.post-content {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures spacing is managed well */
}

.post-title {
    font-size: 1rem; /* Adjust based on your design */
    height: 2rem; /* Example height for two lines of text */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit the text to 2 lines */
    -webkit-box-orient: vertical;
}

.blog-content {
    line-height: 1.6;
    font-size: 1rem; /* Adjust as needed */
    color: #777; /* Adjust for better readability */
    margin-bottom: 20px; /* Spacing between paragraphs */
}

.blog-content h2 {
    font-size: 24px; /* Adjust as needed */
    margin: 24px 0 16px; /* Top, Right-Bottom, Left */
    color: #000; /* Or any other color */
}

.blog-content p, .blog-content ul, .blog-content li {
    margin-bottom: 16px; /* Consistent spacing */
}

.blog-content a {
    color: #007bff; /* Example link color */
    text-decoration: underline;
}

.blog-content ul {
    list-style-type: disc;
    margin-left: 20px; /* Indent list items */
}

.blog-content img {
    max-width: 100%;
    height: auto;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow:clip;
    max-height: 2em; /* Adjust based on your line-height */
}

/* CSS for navigation buttons and arrow icons */
.navigation-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Style the arrow icons */
.navigation-button svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    transition: transform 0.3s ease-in-out;
}

/* Add hover effect to arrow icons */
.navigation-button:hover svg {
    transform: scale(1.2); /* Adjust scale factor as needed */
}

/* Add this CSS to your stylesheet */
.passive {
    opacity: 0.5; /* Adjust opacity as desired */
    /* Or change color */
    /* color: gray; */
    /* Or use a more subtle color */
    /* color: #888888; */
}

/* Add this custom CSS to your stylesheet */
.hover-underline-animation {
    position: relative;
    overflow: hidden;
  }

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor; /* Or any color you want */
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

  /* Custom CSS for the arrow animation */
.arrow {
    transition: transform 0.2s ease-in-out;
}

.hover-underline-animation:hover .arrow {
    transform: translateX(5px); /* Moves the arrow to the right on hover */
}


/* Responsive adjustments for screens smaller than 750px */
@media (max-width: 750px) {

    .blog-content {
        font-size: 0.9rem; /* Slightly smaller font size below 'lg' */
    }

    .blog-content h2 {
        font-size: 1.25rem; /* Smaller headings */
    }

}